<div class="row align-center mb-5" id="projects">
  <div class="col-md-6">
    <h2> {{user.name}}</h2>
  </div>
 {{#each projects}}
  <div>
    <div class="col-md-6">
      <h2> {{name}}</h2>
    </div>
    <div class="col-md-6">
      <h3>{{description}}</h3>
    </div>
    <div class="col-md-6">
      <h3>{{needed_funding}}</h3>
    </div>
    <div class="col-md-6">
      <h3>{{format_date date_created}}</h3>
    </div>
    <div>
        <button id={{id}} class="btn btn-primary delete-btn" type="submit">Delete Project</button>
    </div>
  </div>
</div>
{{/each}}
 <form class="form" id="new-project-form">
      <div class="form-group">
        <label for="name">Project Name:</label>
        <input class="form-input" type="text" id="name" />
      </div>
      <div class="form-group">
        <label for="description">Project Description:</label>
        <input class="form-input" type="text" id="description" />
      </div>
      <div class="form-group">
        <label for="needed_funding">Project Funding Needed:</label>
        <input class="form-input" type="text" id="needed_funding" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Create Project</button>
      </div>
    </form>
</div>
<script src="./js/project.js"></script>
<script src="./js/delete.js"></script>
